html {
  font-family: "Times New Roman", Times, serif !important;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.allcaps {
  font-variant: small-caps;
}

.underline {
  text-decoration: underline;
}

